.wd-text-field-search {
    color: white;
    background-color: darkgray;
    padding: 0.5em;
    width: 90%;
    border: none;
    border-radius: 50px;
}

.wd-explore-settings {
    font-size: 30px;
    float: right;
    margin-right: 12px;
    text-decoration: none;
    color: rgb(29, 161, 242);
}

.wd-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.wd-links li {
    display: inline;
}

.wd-links li:first-child {
    padding-left: 0px;
}

.wd-links a {
    text-decoration: none;
    color: rgb(110, 118, 125);
    font-size: 15px;
    font-weight: bold;
}

.wd-link {
    padding: 16px;
}

.wd-link-selected {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(29, 161, 242);
    padding: 16px 0;
}

.wd-link-selected a {
    color: rgb(29, 161, 242);
}

.wd-divider {
    height: 8px;
    border-style: solid none;
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-color: rgb(47, 51, 54);
    background-color: rgba(47, 51, 54, 50%);
}

.wd-suggested-post-container {
    padding-top: 12px;
    min-height: 110px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(47, 51, 54);
}

.wd-suggested-post-container-first {
    padding-top: 0;
}

.wd-ellipsis-white-container {
    text-align: right;
}

.wd-ellipsis-white {
    text-decoration: none;
    color: white;
    margin-right: 12px;
    font-weight: bold;
}

.wd-suggested-post-topic {
    font-size: 13px;
    color: rgb(110, 118, 125);
    margin: 0;
}

.wd-suggested-post-title {
    font-size: 18px;
    color: white;
    margin: 5px 0;
}

.wd-suggested-post-ntuits {
    font-size: 13px;
    color: rgb(110, 118, 125);
    margin: 0;
}

.wd-suggested-post-author {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.wd-suggested-post-logo {
    font-family: Luminari;
}

.wd-suggested-post-time {
    font-weight: normal;
    color: rgb(110, 118, 125);
}

.wd-suggested-post-relevance {
    font-size: 13px;
    color: lightgray;
    margin: 0;
}

.wd-suggested-post-image {
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 16px;
}